// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Green
$green-primary-color: green;
$green-secondary-color: black

//Palette Blue
$blue-primary-color: green;
